@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "PT Sans", sans-serif;
}

header {
  background-color: rgb(7, 139, 255);
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* ------ NAVBAR SECTION ------ */

.navbar {
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.nav-right {
  color: white;
  font-size: 1.8rem;
}

.menu-right {
  display: none;
}

.menu-right button {
  background-color: white;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 100;
}

.pres-container {
  width: 100%;
}

.row-up-pres {
  width: 100%;
  padding: 15px;
}

/* ------ SECTION DEMO APPLICATION ------*/

.demo-card {
  padding: 30px 30px 0px 30px;
  background-color: lightblue;
  border-radius: 30px;
  margin-top: 100px;
}

.demo-card h3 {
  color: rgb(7, 139, 255);
}

.descr-demo button {
  color: white;
  background-color: rgb(7, 139, 255);
  padding: 1rem 4rem;
  border-radius: 30px;
  margin: 20px 0px;
  font-weight: 800;
  font-size: 0.9rem;
  border: 0px;
}

button .fa-apple {
  margin-right: 10px;
}

.demo-card img {
  width: 100%;
  display: block;
}

/* ------ SECTION CLEAN CODE ------*/

.clean-code-card {
  padding: 30px 30px;
  background-color: lightblue;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
}

.clean-code-card i {
  font-size: 6rem;
  color: rgb(7, 139, 255);
}

.clean-code-card h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(7, 139, 255);
}

.row-down-pres {
  padding: 15px;
}

/* ------ SECTION WEB DESIGN ------*/

.web-design-card {
  padding: 30px 30px;
  background-color: lightblue;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
}

.web-design-card i {
  font-size: 6rem;
  color: rgb(7, 139, 255);
}

.web-design-card h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(7, 139, 255);
}

/* ------ SECTION WEB-DEV ------ */

.dev-card {
  padding: 30px 30px;
  background-color: lightblue;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
}

.dev-card i {
  font-size: 6rem;
  color: rgb(7, 139, 255);
}

.dev-card h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(7, 139, 255);
}

/* ------ SECTION BRANDING ------ */

.branding-card {
  padding: 30px 30px;
  background-color: lightblue;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
}

.branding-card i {
  font-size: 6rem;
  color: rgb(7, 139, 255);
}

.branding-card h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(7, 139, 255);
}

/* ------ SECTION PLANNING ------ */

.plan-left-column,
.plan-right-column {
  padding: 30px 30px;
  background-color: #9593e6;
}

.app-dev {
  border-radius: 30px;
  background-color: white;
  padding: 30px 30px;
  text-align: center;
}

.plan-left-column img {
  width: 100%;
}

.plan-left-column h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 1.9rem;
  color: white;
}

.plan-left-column p {
  color: white;
}

.app-dev h3 {
  font-size: 1.7rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

.plan-right-column img {
  width: 100%;
}

.fa-arrow-down {
  background-color: #9593e6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 13px;
  margin-top: 30px;
}

/* ------ SECTION PARTNERS ------ */

.desc-testimonials {
  padding: 30px;
  text-align: center;
}

.desc-testimonials h4 {
  padding-bottom: 25px;
  font-weight: 100;
}

.desc-testimonials h2 {
  padding-bottom: 25px;
  font-size: 2rem;
  color: #9593e6;
}

.testimonial-card {
  padding: 30px;
  background-color: #9593e6;
  border-radius: 30px;
  margin: 0px 30px;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.test-img-cont img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-content h4 {
  margin-top: 20px;
  font-size: 1.2rem;
}

.last-card {
  margin-bottom: 100px;
}

/* ------ SECTION BENEFITS ------ */

.benefits {
  width: 100%;
  background-color: #9593e6;
  padding: 30px;
  color: white;
}

.benefits h2 {
  font-size: 2.3rem;
  text-align: left;
}

.ben-cards-container {
  width: 100%;
  padding: 10px;
}

.ben-cards-container .benefit-card {
  padding: 30px;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 30px;
}

.benefit-card h2 {
  color: #9593e6;
}

.benefit-card h3 {
  margin-top: 20px;
  color: #9593e6;
}

.benefit-card p {
  margin-top: 20px;
  line-height: 2rem;
  color: black;
}

.benefit-card button {
  margin-top: 20px;
  background-color: #9593e6;
  color: white;
  border: 0;
  padding: 0.8rem 3rem;
  border-radius: 30px;
  letter-spacing: 3px;
  font-weight: 700;
}

/* ------ SECTION ABOUT US ------ */

.about-us {
  padding: 30px;
}

.about-us h2 {
  font-size: 3rem;
  color: #9593e6;
  margin-bottom: 30px;
}

.about-container .about-content {
  margin-bottom: 20px;
}

.about-container p {
  line-height: 2rem;
}

.about-img-container {
  position: relative;
  width: 70%;
}

.about-img-container .fa-quote-left {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5rem;
  color: #9593e6;
}

.about-container img {
  margin-top: 30px;
  border-radius: 50%;
  width: 100%;
}

.about-right-col h2 {
  color: #9593e6;
  font-size: 2rem;
}

.about-right-col button {
  margin-bottom: 30px;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  color: white;
  background-color: #9593e6;
  border: 0;
}

.about-right-col .fa-linkedin {
  margin-right: 10px;
}

/* ------ SECTION GET-STARTED ------ */

.get-started {
  width: 100%;
  background-color: #9593e6;
  padding: 30px;
  text-align: center;
  line-height: 2rem;
}

.get-started h4 {
  color: white;
  font-weight: 200;
  margin-bottom: 30px;
}

.get-started h3 {
  color: white;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 2rem;
}

.get-started h2 {
  color: rgb(255, 204, 0);
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 4rem;
}

.get-started p {
  color: white;
  margin-bottom: 30px;
}

.get-started-container button {
  padding: 1.3rem 3.5rem;
  color: #9593e6;
  border: 0;
  background-color: white;
  border-radius: 30px;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 1rem;
}

.get-started .get-started-copyright {
  color: white;
  font-size: 0.7rem;
  margin-top: 30px;
}

.get-started-copyright .bullet {
  margin: 0px 5px;
}

.get-started-copyright a {
  color: white;
}

/* ------ SECTION FOOTER - ( END ) ------ */

.end {
  width: 100%;
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

.end p {
  margin-bottom: 80px;
}

.end a {
  color: #9593e6;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }

  /* ------ NAVBAR SECTION ------ */

  .navbar {
    width: 100%;
    margin: 0 auto;
  }

  /* ------ PRESENTATION CONTAINER ( DEMO CARD ) SECTION ------ */

  .row-up-pres {
    display: flex;
  }

  .row-down-pres {
    display: flex;
  }

  .demo-card {
    flex-basis: 70%;
    margin: 10px;
    margin-top: 100px;
  }

  .img-demo-app img {
    max-width: 250px;
  }

  /* ------ CLEAN CODE SECTION ------ */

  .clean-code-card {
    flex-basis: 30%;
    margin-top: 0px;
    margin: 10px;
    margin-top: 100px;
  }

  /* ------ WEB-DESIGN SECTION ------ */

  .web-design-card {
    margin: 10px;
  }

  /* ------ WEB-DEV SECTION ------ */

  .dev-card {
    margin: 10px;
  }

  /* ------ BRANDING-CARD SECTION ------ */

  .branding-card {
    margin: 10px;
  }

  /* ------ PLANNING CARD SECTION ------ */

  .planning {
    width: 100%;
    background-color: #9593e6;
    display: flex;
  }

  .container-plans {
    width: 100%;
    align-items: center;
  }

  .plan-left-column {
    width: 80%;
    margin: 0 auto;
  }

  .plan-right-column {
    width: 100%;
  }

  .image-plan-container {
    width: 100%;
  }

  .image-plan-container > img {
    text-align: center;
  }

  .plan-left-column h3 {
    margin-top: 50px;
    font-size: 2.4rem;
    color: white;
  }

  /* ------ PARTNERS SECTION ------ */

  .partners {
    width: 100%;
  }

  .testimonial-card {
    display: flex;
  }

  .test-img-cont img {
    object-fit: cover;
  }

  .testimonial-content {
    text-align: left;
    margin-left: 20px;
  }

  .ben-cards-container {
    display: flex;
    flex-wrap: wrap;
  }

  .single-card {
    flex-basis: 50%;
    padding: 20px;
  }

  /* ------ ABOUT US SECTION ------ */

  .about-container {
    display: flex;
  }

  .about-content {
    flex-basis: 50%;
  }

  .about-right-col {
    flex-basis: 50%;
    margin-left: 80px;
    position: relative;
    top: -80px;
  }
  .about-img-container {
    width: 70%;
  }

  /* ------ GET STARTED SECTION ------ */

  .get-started-container {
    width: 60%;
    margin: 0 auto;
  }

  /* ------ FOOTER SECTION ------ */

  .footer-container {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  /* ------ NAVBAR SECTION ------ */

  .navbar {
    width: 70%;
    margin: 0 auto;
  }

  .nav-left img {
    align-items: center;
  }

  .nav-right i {
    display: none;
  }

  .nav-right .menu-right {
    display: block;
    align-items: center;
  }

  .menu-right span {
    margin: 25px;
    font-size: 1rem;
  }

  /* ------ DEMO APPLICATION SECTION ------ */

  .row-up-pres {
    width: 70%;
    margin: 0 auto;
    display: flex;
    width: 70%;
  }

  .row-down-pres {
    width: 70%;
    margin: 0 auto;
    display: flex;
    width: 70%;
  }

  .demo-card {
    flex-basis: 70%;
    margin: 10px;
    display: flex;
    margin-top: 100px;
  }

  .descr-demo {
    width: 100%;
    line-height: 1.7rem;
  }

  .descr-demo p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .descr-demo button {
    padding: 1rem 3rem;
  }

  .img-demo-app img {
    max-width: 570px;
  }

  /* ------ CLEAN CODE SECTION ------ */

  .clean-code-card {
    flex-basis: 30%;
    margin-top: 0px;
    margin: 10px;
    margin-top: 100px;
  }

  /* ------ WEB DESIGN SECTION ------ */

  .web-design-card {
    margin: 10px;
  }

  /* ------ WEB-DEV SECTION ------ */

  .dev-card {
    margin: 10px;
  }

  /* ------ BRANDING-CARD SECTION ------ */

  .branding-card {
    margin: 10px;
  }

  /* ------ PLANNING SECTION ------ */

  .planning {
    width: 100%;
    margin: auto;
    background-color: #9593e6;
  }

  .section-plans {
    width: 70%;
    margin: 0 auto;
  }

  .container-plans {
    display: flex;
    align-items: flex-end;
  }

  .plan-left-column {
    width: 100%;
  }

  .plan-left-column img {
    width: 80%;
  }

  .plan-left-column h3 {
    margin: 30px 0px;
    font-size: 2.1rem;
    color: white;
  }

  .plan-right-column {
    width: 100%;
  }

  .app-dev {
    padding: 20px 20px;
    width: 80%;
  }

  .app-dev img {
    width: 50%;
  }

  .app-dev h3 {
    font-size: 1rem;
  }

  .app-dev p {
    font-size: 0.8rem;
  }

  /* ------ PARTNERS SECTION ------ */

  .partners {
    width: 100%;
    margin: 0 auto;
  }

  .partners-container {
    width: 70%;
    margin: auto;
  }

  .ben-cards-container {
    display: flex;
    flex-wrap: wrap;
  }

  .single-card {
    flex-basis: calc(100% / 3);
    padding: 20px;
  }

  /* ------ BENEFITS SECTION ------ */

  .benefits {
    width: 100%;
  }

  .benefits-container {
    width: 70%;
    margin: 0 auto;
  }

  /* ------ ABOUT-US SECTION ------ */

  .about-us {
    width: 70%;
    margin: 0 auto;
  }

  .about-img-container {
    width: 50%;
  }

  /* ------ GET STARTED SECTION ------ */

  .get-started-container {
    width: 60%;
    margin: 0 auto;
  }

  /* ------ FOOTER SECTION ------ */

  .footer-container {
    width: 60%;
    margin: 0 auto;
  }
}
