@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "PT Sans", sans-serif;
}

header {
  background-color: rgb(7, 139, 255);
}

.navbar {
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.nav-right {
  color: white;
  font-size: 1.8rem;
}

.menu-right {
  display: none;
}

.row-up-pres {
  padding: 15px;
}

.demo-card {
  padding: 30px 30px;
  background-color: lightblue;
  border-radius: 30px;
}

.demo-card h3 {
  color: rgb(0, 166, 255);
}

.demo-card img {
  width: 100%;
}

.clean-code-card {
  padding: 30px 30px;
  background-color: lightblue;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
}

.clean-code-card i {
  font-size: 6rem;
  color: rgb(0, 166, 255);
}

.clean-code-card h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(0, 166, 255);
}

.row-down-pres {
  padding: 15px;
}

.web-design-card {
  padding: 30px 30px;
  background-color: lightblue;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
}

.web-design-card i {
  font-size: 6rem;
  color: rgb(0, 166, 255);
}

.web-design-card h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(0, 166, 255);
}

.dev-card {
  padding: 30px 30px;
  background-color: lightblue;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
}

.dev-card i {
  font-size: 6rem;
  color: rgb(0, 166, 255);
}

.dev-card h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(0, 166, 255);
}

.branding-card {
  padding: 30px 30px;
  background-color: lightblue;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
}

.branding-card i {
  font-size: 6rem;
  color: rgb(0, 166, 255);
}

.branding-card h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(0, 166, 255);
}

.plan-left-column,
.plan-right-column {
  padding: 30px 30px;
  background-color: #9593e6;
}

.app-dev {
  border-radius: 30px;
  background-color: white;
  padding: 30px 30px;
  text-align: center;
}

.plan-left-column img {
  width: 100%;
}

.plan-left-column h3 {
  margin-top: 50px;
  font-size: 1.9rem;
  color: white;
}

.plan-left-column p {
  color: white;
}

.app-dev h3 {
  font-size: 1.7rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

.plan-right-column img {
  width: 100%;
}

.fa-arrow-down {
  background-color: #9593e6;
  padding: 10px;
  border-radius: 50%;
  margin-top: 20px;
}

.desc-testimonials {
  padding: 30px;
  text-align: center;
}

.desc-testimonials h4 {
  padding-bottom: 25px;
}

.desc-testimonials h2 {
  padding-bottom: 25px;
  font-size: 2rem;
  color: #9593e6;
}

.testimonial-card {
  padding: 30px;
  background-color: #9593e6;
  border-radius: 30px;
  margin: 0px 30px;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.testimonial-card img {
  width: 100%;
  border-radius: 50%;
}

@media screen and (min-width: 425px) {
  header {
    width: 100%;
    margin: auto;
  }
  .navbar {
    width: 90%;
    margin: 0 auto;
  }
  .row-up-pres {
    display: flex;
    width: 100%;
  }

  .row-down-pres {
    display: flex;
    width: 100%;
  }

  .demo-card {
    flex-basis: 70%;
    margin: 10px;
  }

  .clean-code-card {
    flex-basis: 30%;
    margin-top: 0px;
    margin: 10px;
  }

  .web-design-card {
    margin: 10px;
  }

  .dev-card {
    margin: 10px;
  }

  .branding-card {
    margin: 10px;
  }

  .planning {
    width: 100%;
    margin: auto;
    background-color: #9593e6;
  }

  .plan-right-column {
    width: 100%;
  }

  .image-plan-container {
    display: flex;
    width: 90%;
  }

  .image-plan-container > img {
    text-align: center;
  }

  .plan-left-column h3 {
    margin-top: 50px;
    font-size: 2.4rem;
    color: white;
  }

  .partners {
    width: 100%;
  }

  .testimonial-card {
    display: flex;
  }

  .testimonial-content {
    text-align: left;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    width: 70%;
    margin: 0 auto;
  }

  .nav-right i {
    display: none;
  }

  .nav-right {
    text-align: center;
    align-items: center;
  }

  .nav-right .menu-right {
    display: block;
  }

  .menu-right span {
    margin: 15px;
    font-size: 1rem;
  }

  .row-up-pres {
    width: 70%;
    margin: 0 auto;
    display: flex;
    width: 70%;
  }

  .row-down-pres {
    width: 70%;
    margin: 0 auto;
    display: flex;
    width: 70%;
  }

  .demo-card {
    flex-basis: 70%;
    margin: 10px;
    display: flex;
  }

  .descr-demo {
    width: 100%;
    line-height: 1.7rem;
  }

  .descr-demo p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .img-demo-app {
    width: 100%;
  }

  .clean-code-card {
    flex-basis: 30%;
    margin-top: 0px;
    margin: 10px;
  }

  .web-design-card {
    margin: 10px;
  }

  .dev-card {
    margin: 10px;
  }

  .branding-card {
    margin: 10px;
  }

  .planning {
    width: 100%;
    margin: auto;
    background-color: #9593e6;
  }

  .section-plans {
    width: 70%;
    margin: 0 auto;
  }

  .container-plans {
    display: flex;
    align-items: flex-end;
  }

  .plan-left-column {
    width: 100%;
  }

  .plan-left-column img {
    width: 80%;
  }

  .plan-left-column h3 {
    margin-top: 50px;
    font-size: 2.4rem;
    color: white;
  }

  .plan-right-column {
    width: 100%;
  }

  .app-dev {
    padding: 20px 20px;
    width: 80%;
  }

  .app-dev img {
    width: 50%;
  }

  .app-dev h3 {
    font-size: 1rem;
  }

  .app-dev p {
    font-size: 0.8rem;
  }
}
